<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
<div class="container">

    {{> navbar}}

    <div class="row">

        <div class="btn-group">
            <a id="btn-create" class="btn btn-success" href="/reviews/post">Crear Reseña</a>
        </div>

    </div>

    <div class="row">

        <!-- List -->
        <br>
        <div class=col-md-12>

            <form id="form-list-reviews">
                <legend>Reseñas</legend>

                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Puntaje</th>
                        <th>Fecha</th>
                        <th>Critico</th>
                        <th>Reseña</th>
                        <th>Acciones</th>
                    </tr>

                    </thead>
                    <tbody id="form-list-reviews-body">
                    {{#each review}}
                        <tr>
                            <td>{{rating}}</td>
                            <td>{{date}}</td>
                            <td>{{reviewer}}</td>
                            <td>{{text}}</td>
                            <td>
                                <a title="view" class="btn btn-default btn-sm " href="/reviews/show/{{id}}"> <i class="glyphicon glyphicon-eye-open text-primary"></i> </a>
                                <a title="edit" class="btn btn-default btn-sm " href="/reviews/update/{{id}}"> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                                <a title="delete" class="btn btn-default btn-sm" href="/reviews/delete/{{id}}"> <i class="glyphicon glyphicon-trash text-danger"></i> </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </form>

        </div>

    </div>
</div>

{{> scripts}}

</body>
</html>
