<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
<div class="container">

    {{> navbar}}

    <div class="row">

        <!-- View -->
        <div class="col-md-12">

            <legend>Reseña</legend>

            <div >

                <div class2=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Puntaje:</td>
                            <td>{{review.rating}}</td>
                        </tr>
                        <tr>
                            <td>Fecha:</td>
                            <td>{{review.date}}</td>
                        </tr>
                        <tr>
                            <td>Critico:</td>
                            <td>{{review.reviewer}}</td>
                        </tr>
                        <tr>
                            <td>Reseña:</td>
                            <td>{{review.text}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-group">
                    <a id="btn-update" class="btn btn-success" href="/reviews/update/{{review.id}}">Actualizar</a>
                    <a id="btn-delete" class="btn btn-success" href="/reviews/delete/{{review.id}}">Eliminar</a>
                </div>

            </div>

        </div>

        {{> footer}}
    </div>
</div>

{{> scripts}}

</body>
</html>
