<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
<div class="container">

    {{> navbar}}

    <div class="row">

        <div class="col-md-12">

            <legend>Datos de la rese単a</legend>

            <div >

                <div class2=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                          <tr>
                              <td>ID:</td>
                              <td>{{movie.id}}</td>
                          </tr>
                          <tr>
                              <td>Puntaje:</td>
                              <td>{{movie.rating}}</td>
                          </tr>
                          <tr>
                              <td>Fecha:</td>
                              <td>{{movie.date}}</td>
                          </tr>
                          <tr>
                              <td>Critico:</td>
                              <td>{{movie.reviewer}}</td>
                          </tr>
                          <tr>
                              <td>Rese単a:</td>
                              <td>{{movie.text}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <!-- Form  -->
        <br>
        <div class="col-md-12">

            <form action="/reviews/update/{{review.id}}" method="POST" class="form-horizontal" id="form-edit-review">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Actualizar rese単a</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="review[rating]">Puntaje</label>
                        <div class="col-md-4">
                            <input id="review[rating]" name="review[rating]" type="text"  class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="review[date]">Fecha</label>
                        <div class="col-md-4">
                            <input id="review[date]" name="review[date]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="review[reviewer]">Critico</label>
                        <div class="col-md-4">
                            <input id="review[reviewer]" name="review[reviewer]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="review[text]">Rese単a</label>
                        <div class="col-md-4">
                            <input id="review[text]" name="review[text]" class="form-control" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btn-save"></label>
                        <div class="col-md-4">
                            <button id="btn-save" class="btn btn-success">Guardar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
        <br>

        {{> footer}}
    </div>
</div>

{{> scripts}}

</body>
</html>
